@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
    --first-color: #ffffff;
    --second-color: #000000;
    --third-color: #939393;
    --fourth-color: #ff0000;
    --fifth-color: #ffe4e4;
    --hover-color: #ffffff;
    --body-bg-color: #024;
    --card-bg-color: #fff;
    --modal-bg-color: #fff;
    --bg-transparent-color: rgba(0, 0, 0, 0.1);
    --transparent-color-01: rgba(152, 54, 54, 0.1);
    --transparent-color-02: rgba(106, 89, 209, 0.1);
    --line-color: #d7d7d7;
    --color-filter: invert(1);
    --box-shadow: 0px 0px 20px rgb(0 0 0 /10%);
    --small-font-size: 0.9em;
    --normal-font-size: 1em;
    --scroll-bar-color: #adb6d6;
    --scroll-thumb-color: #70768a;
    --sixth-color: #000000;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    position: relative;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--scroll-bar-color);
    color: var(--body-bg-color);
    margin: 2rem 0 0 0;
    transition: 0.5s ease;
    overflow-x: hidden;

}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

header {
    z-index: 999999;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    backdrop-filter: blur(5px);
    color: var(--first-color);
    background-color: var(--first-color);
    transition: 0.6s ease;
    overflow-x: hiddem;
}

header.sticky {
    background: rgba(255, 255, 255, 0.1);
    box-shadow: var(--box-shadow);
}

/* navigation bar-----------*/
header.sticky .navigation-bar {
    height: calc(2.5rem + 1rem);
}

.navigation-bar {
    position: relative;
    height: calc(4rem + 1rem);
    max-width: 1250px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    margin-left: auto;
    margin-right: auto;
    background-color: var(--first-color);
    transition: 0.6s ease;
}

.nav-items .nav {
    color: var(--second-color);
    transition: 0.6s ease;
}

.nav-items .nav:hover {
    color: var(--fourth-color);
}

header.sticky .navigation-bar {
    height: calc(2.5rem + 1rem);
}

.nav-items a {
    color: var(--first-color);
    font-size: var(--normal-font-size);
    font-weight: 500;
}

.nav-items a.active {
    color: var(--first-color);
    background-color: var(--second-color);
    padding: 10px 20px;
    border-radius: 5px;
    opacity: 80%;
    transform: translateY(-20%);
}

.nav-items a:not(:last-child) {
    margin-right: 50px;
}

.nav-items a:hover {
    color: var(--second-color);
    transform: translateY(-20%);
}

.navigation-bar .logo {
    color: var(--second-color);
    font-size: 1.3em;
    font-weight: 600;
    transition: 0.3s;
}

.navigation-bar .logo:hover {
    color: var(--fourth-color);
    font-size: 1.32em;
}

@media only screen and (max-width: 900px) {

    .navigation {
        position: fixed;
        width: 100%;
        height: 100vh;
        top: 0;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: var(--first-color);
        opacity: 0;
        transition: .3s ease;
        visibility: hidden;
    }

    .navigation.active {
        visibility: visible;
        opacity: 0.97;
    }

    .nav-items {
        position: relative;
        background: var(--modal-bg-color);
        width: 300px;
        max-width: 300px;
        display: flex;
        align-items: center;
        flex-direction: column;
        margin: 20px;
        border-radius: 10px;
        box-shadow: var(--box-shadow);
        transform: translateY(100%);
        transition: 0.3s ease;
        opacity: 80%;
    }

    .navigation.active .nav-items {
        transform: translateY(0%);
    }

    .nav-items a {
        margin: 15px 50px;
    }

    .nav-close-btn {
        position: fixed;
        background: url(images/Cross.jpg) no-repeat;
        filter: var(--color-filer);
        background-size: 20px;
        background-position: center;
        width: 40px;
        height: 40px;
        top: 0;
        right: 0;
        margin-top: 10px;
        cursor: pointer;
    }

    .nav-menu-btn {
        background: url(images/Menu.jpg) no-repeat;
        filter: var(--color-filer);
        background-size: 30px;
        background-position: center;
        width: 40px;
        height: 40px;
        cursor: pointer;
    }

    .media-icons {
        margin-block-start: 5rem;
        size: 200px;
        color: var(--second-color);
        margin-left: 30px;
    }

    .media-icons .fb:hover {
        color: var(--fourth-color);
        transition: 0.3s ease;
    }
}


/* video container -----------*/

.back-video {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    z-index: -100;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.4;
    background-position: center;
    background-repeat: no-repeat;
}

@media only screen and (max-width: 900px) {

    .back-video {
        visibility: hidden;
    }

}

@media screen and (max-width: 768px) {
    .home-container {
        position: relative;
    }
}


/* Home Page-----------*/
.home {
    position: relative;
    max-width: 1250px;
    min-height: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 4rem 2rem;
    flex-direction: row;
}

.home-header {
    display: flex;
}
.media-icons .fb {
    margin-block-start: 5rem;
    size: 200px;
    color: var(--second-color);
    padding-left: 20px;
    padding-bottom: 20px;
    margin-top: 30rem;
}

.media-icons .fb:hover {
    color: var(--fourth-color);
    transition: 0.3s ease;
}

.info {
    margin-top: 4rem;
    color: var(--second-color);
    font-size: xx-large;
    text-align: left;
    justify-content: space-around;
}

h2 span {
    border-color: var(--hover-color);
    color: var(--hover-color);
}

.info h2 {
    font-size: 4.5rem;
    color: var(--second-color);
    border: var(--second-color);
    margin-top: 20px;
    font-weight: bold;
}

.info h3 {
    padding-top: 15px;
    font-size: 24px;
    color: var(--hover-color);
    font-weight: bold;
}

.info p {
    padding-bottom: 25px;
    padding-top: 7px;
    font-size: 20px;
}

.info .btn {
    background-color: var(--second-color);
    padding: 2rem;
    border-radius: 8px;
    color: var(--first-color);
    font-size: 20px;
    font-weight: bold;
    justify-content: center;
    display: flex;
    align-items: center;
    position: flex;
    margin-top: 0rem;
    margin-left: 60rem;
    margin-right: 0rem;
    opacity: 70%;
    transition: 0.6s ease-in-out;
}
.info .btn i {
    padding-left: 0.5rem;
}

.info .btn:hover {
    color: var(--second-color);
    background-color: var(--first-color);
    color: var(--second-color);
}

.home .scroll-down {
    padding: 1rem;
    color: var(--second-color);
    align-items: bottom;
    flex-direction: row;
    opacity: 0.8;
    border-radius: 8px;
    top: 10rem;
    left: 0;
    transition: 0.8s;
    justify-content: center;
}

.home .scroll-down i {
    padding-left: 0.3rem;
    animation: arrow-down ease 2s infinite;
    padding-bottom: 10rem;
    justify-content: center;
}

@keyframes arrow-down {
  0%{
      transform: translateY(-5);
  }

  40%{
      transform: translateY(20px);
  }
}


.home .scroll-down:hover {
    align-content: center;
    transition: 0.8s;
}

@media only screen and (max-width: 900px) {
    h2 span {
        border-color: var(--hover-color);
        color: var(--fourth-color);
    }

    .info h3 {
        color: var(--fourth-color);
    }

    .media-icons .fb:hover {
        color: var(--fourth-color);
    }
}

@media only screen and (max-width: 1268px) {
    .home {
        flex-direction: column;
        padding: 2rem;
        max-width: 100vh;
        min-height: 10px;
        margin-left: auto;
        margin-right: auto;
        padding: 4rem 2rem;
        flex-direction: row;
    }

    .media-icons .fb {
        margin-top: 10rem;
        display: hidden;
    }

    .info {
        margin-top: 4rem;
        font-size: medium;
        text-align: center;
    }

    .info h2 {
        font-size: 3rem;
        margin-top: 20px;
    }

    .info h3 {
        font-size: 20px;
        padding-top: 10px;
    }

    .info p {
        padding-bottom: 25px;
        padding-top: 7px;
        font-size: 18px;
    }

    .info .btn {
        padding: 1rem;
        font-size: 16px;
        justify-content: center;
        margin: 2rem auto 0 auto;
        opacity: 100%;
    }

    .home .scroll-down {
        visibility: hidden;
    }

    .home .scroll-down i {
        padding-left: 0.3rem;
        animation: none;
        padding-bottom: 0rem;
    }
}

/* About Page-----------*/
.about {
    padding: 2rem 0 0;
    position: flex;
    text-align: center;
    background-color: var(--second-color);
    position: center;
    max-width: 100%;
    min-height: 100vh;
    display: relative;
}

.section-title-01 {
    color: var(--first-color);
    font-size: 50px;
    opacity: 90%;
    padding-top: 2.5rem;
    text-align: center;
    position: flex;
    margin-top: 10px;
}

.about-info .container_description {
    max-width: 600px;
    margin-inline: auto;
    display: grid;
    place-items: center;
    padding-left: 20px;
    padding-right: 20px;
}

.about-info .container_description > * {
    grid-column: 1;
    grid-row: 1;
}

.about-info img {
    max-width: 100%;
}

.about-info .professional-list {
    width: 20%;
    aspect-ratio: 1/1;
    color: var(--second-color);
    background-color: var(--first-color);
    border-radius: 50%;
    display: grid;
    place-items: center;
    transition: 1.2s;
    overflow: hidden;
    margin-left: 30px;
    margin-bottom: 330px;
    padding: 1.3em;
}

.about-info .professional-list:hover {
    width: 60%;
    border-radius: 10%;
}

.about-info .professional-list .list-item {
    filter: opacity(0);
    transition: filter 1s;
}

.about-info .professional-list:hover .list-item {
    filter: none;
}

.professional-list .list-item .text2 {
    font-size: 2rem;
}

.about h1 {
    font-size: 3rem;
}

.about-info .description h3 {
    font-size: 2em;
    margin-bottom: 10px;
    color: var(--second-color);
}

.about-info .description h4 {
    font-size: 1.3em;
    margin-bottom: 10px;
    color: var(--second-color);
    margin-top: 80px;
    background-color: var(--first-color);
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 8px;
}

.about-info .description h4 a {
    color: var(--second-color);
    transition: 0.3s ease-in-out;
}

.about-info .description h4 a:hover {
    color: var(--fourth-color);
}

.about-info .description p {
    color: var(--first-color);
    font-size: var(--normal-font-size);
    margin-top: 25px;
    margin-bottom: 25px;
    padding-bottom: 35px;
    letter-spacing: 0.1em;
    margin-left: 3px;
    margin-right: 3px;
    border-bottom: 2px solid var(--line-color);
    border-color: 2px, var(--first-color);
}

.about-info .professional-list {
    align-items: center;
}

.about-info .professional-list .list-item {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 3px;
    color: var(--fourth-color);
}

.about-info .professional-list .list-item h3 {
    font-size: 2.5em;
    font-weight: 200;
}

.about-info .professional-list .list-item span {
    color: var(--second-color);
    font-size: var(--small-font-size);
}

.about .btn {
    color: var(--first-color);
    margin-left: 10px;
    transition: 0.3s ease-in-out;
    font-size: 1.3rem;
}

.about .btn:hover {
    background-color: var(--first-color);
    color: var(--second-color);
    padding: 10px;
    margin-top: 10px;
    border-radius: 8px;
}

.btn i {
    color: var(--second-color);
    transition: 0.3s ease-in-out;
    margin-left: 10px;
}

.btn i:hover {
    color: var(--second-color);
    visibility: disabled;
}


@media only screen and (max-width: 589px) {
    .about-info .professional-list {
        margin-bottom: 370px;
    }

    .about-info img {
        visibility: hidden;
    }
}


/* skills Page-----------*/
.skills {
    padding: 2rem 0 0;
    text-align: center;
    background-color: var(--first-color);
    position: center;
    width: 100%;
    min-height: 100vh;
    display: block;
    flex-direction: column;
    justify-content: center;
}

.section-title-03 {
    color: var(--second-color);
    font-size: 50px;
    opacity: 90%;
    padding-top: 2.5rem;
    text-align: center;
    position: flex;
    margin-top: 10px;
}

.skills-description {
  margin-bottom: 50px;
}

.skills-description h3 {
    font-size: 2em;
    margin-bottom: 5px;
    color: var(--fourth-color);
}

.skills-description p {
    margin-bottom: 10px;
    color: var(--first-color);
    margin-left: 10%;
    margin-right: 10%;
}

.skills-info {
    margin-left: 30px;
    margin-right: 30px;
    display: block;
    bottom: 40px;
    gap: 20px;
}

.skills-info_ {
    display: center;
    bottom: 20px;
    grid-template-columns: flex(auto-fill, minmax(300px, 1fr));
    gap: 20px;
}

.skills-info_ h4 {
    margin-bottom: 20px;
    margin-top: 20px;
}

.skills-info_ h4 label {
    background: var(--second-color);
    color: var(--first-color);
    font-size: 20px;
    font-weight: 400;
    padding: 5px 15px;
    border-radius: 5px;
}

.edu-list .item {
    display: fixed;
    background: var(--card-bg-color);
    box-shadow: var(--box-shadow);
    border-bottom: 3px solid var(--second-color);
    border-top: 3px solid var(--second-color);
    padding: 20px;
    margin-left: 30%;
    margin-right: 30%;
    margin-top: 15px;
    border-radius: 6px;
    transition: 0.3s ease;
    transform: translateY(-10%);
}

.edu-list .item .year {
    font-size: var(--fourth-color);
    margin-bottom: 8px;
}

.edu-list .item p {
    color: var(--fourth-color);
    font-size: 20px;
}

.edu-list .item p span {
    color: var(--second-color);
    font-weight: 500;
}

.bar {
    margin-left: 25%;
    margin-right: 25%;
    margin-bottom: 10px;
    padding: 20px;
    border-radius: 6px;
    transition: 0.3s ease;
}

.bar .info {
    color: var(--second-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
    font-size: var(--small-font-size);
}

.bar .info span {
    font-weight: 20;
}

.bar .line {
    position: flex;
    width: 100%;
    height: 7px;
    background: var(--scroll-bar-color);
    border-radius: 2px;
}

.bar .line:before {
    content: "";
    position: absolute;
    height: 100%;
    top: 0;
    left: 0;
    background: var(--fourth-color);
    border-radius: 2px;
}

.bar .photography:before {
    width: 75%;
}

.bar .videography:before {
    width: 60%;
}

.bar .lightroom:before {
    width: 80%;
}

.experience-card {
    background: var(--card-bg-color);
    border-bottom: 19px solid var(--second-color);
    border-top: 19px solid var(--second-color);
    padding: 35px;
    border-radius: 30px;
    box-shadow: var(--box-shadow);
    transition: 0.3s ease;
    margin-top: 30px;
    margin-left: 10%;
    margin-right: 10%;
}

.experience-card .upper {
    line-height: 30px;
    margin-bottom: 10px;
}

.experience-card h3 {
    font-size: 1.3em;
    font-weight: 700;
    color: var(--fourth-color);
}

.experience-card h5 {
    font-size: var(--small-font-size);
    font-weight: 500;
    font-style: italic;
    color: var(--second-color);
}

.experience-card span {
    color: var(--third-color);
}

.experience-card .hr {
    width: 100%;
    height: 2px;
    background: var(--line-color);
    margin: 10px 0 22px;
}

.edu-list .item:hover,
.bar:hover,
.experience-card:hover {
    transform: scale(1.03);
    background-color: var(--fifth-color);
}


@media only screen and (max-width: 768px) {
    /* Remove left and right margins */
    .skills-info,
    .edu-list .item,
    .bar,
    .experience-card {
        margin-left: 0;
        margin-right: 0;
    }

    /* Adjust font sizes */
    .section-title-03 {
        font-size: 36px;
    }

    .skills-description h3 {
        font-size: 1.5em;
    }

    .skills-info_ h4 {
        font-size: 18px;
        margin: 4px;
    }

    .edu-list .item p {
        font-size: 18px;
    }

    .experience-card h3 {
        font-size: 1.1em;
    }

    .experience-card h5 {
        font-size: 14px;
    }
    .experience-card {
      margin-left: 5%;
      margin-right: 5%;

    }

    /* Adjust bar width */
    .bar {
        margin-left: 10%;
        margin-right: 10%;
    }

    .bar .photography:before {
        width: 70%;
    }

    .bar .videography:before {
        width: 65%;
    }

    .bar .javascript:before {
        width: 60%;
    }
}

@media only screen and (max-width: 600px) {
    .skills-info_ {
        grid-template-columns: 1fr;
    }

    .skills-info_,
    .edu-list,
    .bar,
    .experience-card {
        padding: 10px;
    }

    .skills-info_ h4 {
        text-align: center;
    }

    .bar {
        margin-left: 0;
        margin-right: 0;
    }

    .skills-description p {
      margin: 10px;
    }
}

/* gallery Page-----------*/
.gallery {
    padding: 2rem 0 0;
    text-align: center;
    background-color: var(--second-color);
    position: center;
    width: 100%;
    min-height: 100vh;
    display: auto;
    flex-direction: column;
    justify-content: center;

}

.section-title-04 {
    color: var(--first-color);
    font-size: 50px;
    opacity: 90%;
    padding-top: 2.5rem;
    text-align: center;
    position: flex;
    margin-top: 10px;
}

.description_container h2 {
    color: var(--fourth-color);
    display: relative;
}

.gallery-container {
    display: absolute;
    flex-wrap: nowrap;
    margin: 2rem 0;
    visibility: hidden; 

}

.gallery-img-container {
    width: 1px;
    height: 5px;
    object-fit: cover;
    display: none;
    transition: transform 0.2s;
}

.gallery-img-container.active {
    display: block;
    transition: 4s;
}

.gallery-img-container img {
    width: 1vh;
    height: 1%;
    border-radius: 20px;
    background-color: var(--first-color);
}

.gallery-btn-container {
    margin-top: 2rem;
}

.gallery-btn-container button {
    background-color: transparent;
    border: none;
    font-size: 2rem;
    color: var(--fourth-color);
    margin: 0 1rem;
    cursor: pointer;
    background-color: var(--first-color);
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 7px;
    padding-bottom: 7px;
    border-radius: 20%;
    opacity: 70%;
    transition: 0.6s;
    visibility: hidden; 
  }

.gallery-btn-container button:hover {
    color: var(--second-color);
    border-radius: 50%;
    opacity: 30%;
}

#image-track > .image{
  width: 18vmin;
  height: 46vmin;
  object-fit: cover;
  top: 0%;
  bottom: 0%;
}

#image-track {
  display: auto;
  gap: 4vmin;
  left: 0%;
  position: flex;
  top: 0%;
  bottom: 0%;
}

@media only screen and (max-width: 900px){

    .gallery-container {
        transform: 0;
        display: flex;
        margin: 2rem 0;
        visibility: visible; 
    
    }
    
    .gallery-img-container {
        width: 100%;
        height: 56vh;
        object-fit: cover;
        display: none;
    }
    
    .gallery-img-container.active {
        display: block;
        transition: 4s;
    }
    
    .gallery-img-container img {
        width: 35vh;
        height: 100%;
        border-radius: 20px;
        background-color: var(--first-color);
    }
    
    .gallery-container {
      visibility: visible;
    }
  
  
    #image-track > .image{
        width: 1vmin;
        height: 4vmin;
      visibility: hidden;
      z-index: -9999;
    }
  
    .gallery-btn-container button {
      visibility: visible; 
      z-index: 9999;
    }
  }

/* contact Page-----------*/
.contact {
    padding: 2rem 0 0;
    background-color: var(--first-color);
    width: 100%;
    height: 100%;
    display: relative;
    flex-direction: column;
    justify-content: center;
}

.section-title-05 {
    color: var(--second-color);
    font-size: 50px;
    opacity: 90%;
    padding-top: 2.5rem;
    text-align: center;
    position: flex;
    margin-top: 10px;
}

.container2 {
    display: flex;
    justify-content: center;
    width: 100%;
}


.contact-info {
    padding: 20px;
}

.contact-info h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.contact-info ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.contact-info li {
    margin-bottom: 10px;
}

.contact-info li strong {
    display: inline-block;
    width: 100px;
    font-weight: bold;
}

.box {
    align-content: center;
    justify-content: center;
    position: relative;
    width: 380px;
    height: 550px;
    background-color: var(--second-color);
    border-radius: 8px;
    overflow: hidden;
}

.box::before {
    content: "";
    position: absolute;
    top: -50%;
    left: -50%;
    width: 380px;
    height: 550px;
    background: linear-gradient(0deg, transparent, transparent, var(--fourth-color), var(--fourth-color), var(--fourth-color));
    z-index: 1;
    transform-origin: bottom right;
    animation: animate 6s linear infinite;
}

.box::after {
    content: "";
    position: absolute;
    top: -50%;
    left: -50%;
    width: 380px;
    height: 550px;
    background: linear-gradient(0deg, transparent, transparent, var(--fourth-color), var(--fourth-color), var(--fourth-color));
    z-index: 1;
    transform-origin: bottom right;
    animation: animate 6s linear infinite;
    animation-delay: -3s;
}

@keyframes animate {
    0% {
        transform: rotate(0deg);
    }

    0% {
        transform: rotate(360deg);
    }
}

.box form {
    position: absolute;
    inset: 4px;
    background: var(--sixth-color);
    padding: 50px 40px;
    border-radius: 8px;
    z-index: 2;
    display: flex;
    flex-direction: column;
}

.box form h3 {
    color: var(--first-color);
    font-weight: 500;
    text-align: center;
    letter-spacing: 0.1em;
}

.box form .inputBox {
    position: relative;
    width: 300px;
    margin-top: 35px;
}

.box form .inputBox input {
    position: relative;
    width: 100%;
    padding: 20px 10px 10px;
    background: transparent;
    outline: none;
    box-shadow: none;
    color: var(--second-color);
    font-size: 1em;
    letter-spacing: 0.05em;
    transition: 0.5s;
    z-index: 10;
    border: none;
}

.box form .inputBox span {
    position: absolute;
    left: 0;
    padding: 20px 0px 10px;
    pointer-events: none;
    color: var(--first-color);
    font-size: 1em;
    letter-spacing: 0.05em;
    transition: 0.5s;
}

.box form .inputBox input:valid ~ span,
.box form .inputBox input:focus ~ span {
    color: var(--first-color);
    font-size: 0.8em;
    transform: translateY(-30px);
}

.box form .inputBox i {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background: var(--first-color);
    border-radius: 4px;
    overflow: hidden;
    transition: 0.4s;
    pointer-events: none;
}

.box form .inputBox input:valid ~ i,
.box form .inputBox input:focus ~ i {
    height: 44px;
}

.box form input[type="submit"] {
    border: none;
    outline: none;
    padding: 9px 25px;
    background: var(--first-color);
    cursor: pointer;
    font-size: 0.9em;
    width: 100%;
    margin-left: 4px;
    margin-top: 10px;
    border-radius: 4px;
}

.box form input[type="submit"]:active {
    opacity: 0.8;
    background-color: var(--fourth-color);
    color: var(--first-color);
}

@media only screen and (max-width: 540px) {
    .g1 img {
        height: 450px;
    }
}

@media only screen and (max-width: 1240px) {
    .container2 {
        display: grid;
        width: 100%;
        row-gap: 20px;
        padding-left: 20px;
    }
    .g2 {
        margin-bottom: 20px;
    }
}

/* footer Page-----------*/

footer {
    display: relative;
    flex-direction: column;
    background: var(--second-color);
    width: 100%;
    padding: 3rem 2rem;
    color: var(--first-color);
}

footer a {
    color: var(--first-color);
    height: 30px;
    transition: 0.4s;
}

footer a:hover {
    color: var(--fourth-color);
}

.footer-container .group h2 {
    font-size: 3.3rem;
}

.footer-container .info,
.footer-container .follow {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 30px;
}

.footer-container .info h3,
.footer-container .follow h3 {
    font-size: 2em;
    font-weight: 500;
    margin-bottom: 30px;
    color: var(--fourth-color);
}

.footer-container .info ul,
.footer-container .follow ul {
    display: flex;
    margin-bottom: 30px;
}

.footer-container .info a {
    margin: 20px;
}

.footer-container .follow a {
    font-size: 1.5em;
    margin: 20px;
    margin-top: 20px;
}

.footer-container .follow a:hover {
    color: var(--fourth-color);
}

.footer-copyright p {
    font-size: var(--normal-font-size);
    font-weight: 300;
    margin-top: 50px;
    text-align: center;
}
